<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<%= favicon_link_tag asset_path('favicon.ico') %>
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
</style>

<head>
  <title>Fanficker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Fanficker
    <h5>XenForo Story Downloader</h5>
  </div>
</div>

<div class="w3-display-middle">
  <div class='table'>
    <% @stories.each do |story| %>
      <% unless story.title.nil? %>
        <div class='cell'>
          <ul>
            <h5><%= link_to story.title, "/stories/#{story.id}" %></h5>
            Author: <%= story.author %><br>
            Chapters: <%= story.chapters.count %><br>
            <% if story.epub.attached? %>
              <%= link_to "Download ePub", rails_blob_url(story.epub, disposition: "attachment", filename: "story.epub") %><br>
            <% end %>
            <% unless story.download_complete %>Story currently downloading. Check back in a minute.<% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

</body>
</html>