<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
</style>
<head>
  <title>Fanficker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Fanficker
    <h5>XenForo Story Downloader</h5>
  </div>
</div>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topmiddle w3-padding-large w3-xlarge">
    <%= link_to "All stories", "/index" %>
  </div>
</div>


<div class="w3-display-middle">
  <div class='table'>
    <div class='cell'>
      <%= form_for(@story) do |f| %>
        <div class="field">
          <%= f.label "Thread URL" %><br>
          <%= f.text_field :thread_url %><br>
        </div>
        <div class="submit">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
    <div class='cell' id='invalidurl'>
      <p style="color:red">Error: invalid URL.</p>
    </div>
  </div>
</div>


</body>

<script type="text/javascript">
    var url = window.location.href;
    var msg = document.getElementById('invalidurl');
    if( url.search( 'invalidurl' ) > 0 ) {
        msg.style.display = 'block';
    } else{
        msg.style.display = 'none'
    }
</script>

</html>
