<head>
  <link rel="stylesheet" href='/assets/read-view.css'>
  <meta charset="utf-8"/>
  <title><%= @story.title %></title>
</head>

<body>
<h1><%= @story.title %></h1>
<h2>By: <%= @story.author %></h2>
<h3><%= @story.description %></h3>

<h2>Table of Contents</h2>
<ul class="toc">
  <% @story.chapters.each do |ch| %>
  <li><a href='#threadmark-<%= ch.threadmark %>'><%= ch.title %></a></li>
  <% end %>
</ul>

<% @story.chapters.each do |ch| %>
  <div class="w3-display-middle">
    <div class='table'>
      <hr><br>
      <h2 id="threadmark-<%= ch.threadmark %>"><%= ch.title %></h2>
      <br>
      <%= ch.body.html_safe %>
      <br><br>
    </div>
  </div>
<% end %>
</body>


