<!DOCTYPE html>
<html>
  <head>
    <title>Fanficker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Fanficker
      <h5>XenForo Story Downloader</h5>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
